<%- include('./header') %>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <br>

            <p>I am sophomore student at Hacettepe University Computer Engineering department. I have worked with
                Selenium,
                BS4, and Flask frameworks in Python, Node.JS, MySQL in JavaScript and so Firebase, Heroku for the
                deployment. I created bunch of basic systems which is designed with OOP in Java.</p>

            <p>Coding is my passion. I am coding with great enthusiasm and pleasure. Currently I am sharing my leetcode
                problem solutions and my projects
                from <a href="https://www.github.com/suleymanekmekci">github</a> . I created a blog as a said before :)
                and I started to help people in some areas which I have knowledge about it.
            </p>

            <br><br>
            <p>
                You can follow and write me from social media. All links are located in the below. Thanks for your time!
            </p>




        </div>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<%- include('./footer') %>