<!-- Footer -->
<footer class="py-1 bg-dark">
    <div class="container">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <a href="https://github.com/suleymanekmekci" class="fa fa-github" style="font-size:17px"> </a> |

        <a href="https://linkedin.com/in/suleymanekmekci" class="fa fa-linkedin" style="font-size:17px"> </a> |

        <a href="https://twitter.com/sekmekci4" class="fa fa-twitter" style="font-size:17px"> </a> |

        <a href="https://www.facebook.com/crazysilo2" class="fa fa-facebook" style="font-size:17px"> </a> |

        <a href="https://www.instagram.com/sekmekciii" class="fa fa-instagram" style="font-size:17px"> </a> |

        <i class="fa fa-envelope" style="font-size:17px"> suleymanekmekci3@gmail.com </i> | <i
            class="fa fa-address-card" style="font-size:17px"> Ankara / Turkey </i>
        <br>


        Theme: <a href="https://startbootstrap.com/templates/blog/">Blog Template | </a>
        <a class="m-0 text-center text-white">Copyright &copy; Suleyman Ekmekci 2020</a> |
        <a href="https://github.com/suleymanekmekci/blog">Source Code</a>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/user/vendor/jquery/jquery.min.js"></script>
<script src="/static/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
<style>
    footer {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: brown;
        color: white;
        text-align: center;
    }
</style>

</html>